@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Poetsen One;}

html{font-size: 62.5%;}


#heading{font-size: 10rem;
text-align: center;
margin-top: 7rem;}



#container{margin: 3rem;
border: 0.5rem solid black;
height: 60vh;
}



#questionsLength{text-align: end;
margin: 3rem 2rem 0 0;
font-size: 2rem;}


#box{border: 0.2rem solid black;
margin: 2rem;
padding: 3rem;
font-size: 2rem;}


#optionBox{border: 0.2rem solid black;
justify-content: space-evenly;
padding: 3rem;
gap: 1rem;
margin: 2rem;
display: flex;}



#options{border: 0;
padding: 1rem;
border-radius: 1rem;    
cursor: pointer;
width: 100%;
height: 8rem;
font-size: 1.4rem;
transition: ease-in-out 0.3s;
background-color: #90e0ef;}


#options:hover{background-color: #0077b6;
color: white;}

#btnsBox{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    gap: 5rem;
    padding-top: 5rem;
}


#skipBtn{border: 0;
padding: 1rem;
border-radius: 1rem;
cursor: pointer;
width: 100%;
background-color: #ff477e;
color: white;
transition: ease-in-out 0.3s;}

#skipBtn:hover{background-color: #ff220c;}


#backBtn{border: 0;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
background-color: #80b918;
transition: ease-in-out 0.3s;}


#backBtn:hover{background-color: #007f5f;}




@media(max-width:998px){
    html{font-size: 55%;}
}


@media(max-width:768px){
    html{font-size: 45%;}
}